
<% if @comment.errors.any? %>
	<ul>
		<%= @comment.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%#= form_form @answer, url: question_answers_path(@question) do |f| %>
<div class="container">
	<%= form_for [@discussion, @comment] do |f| %>
		<%= f.label :body, 'Update Comment', class: "form-control" %>
		<%= f.text_area :body, class: "form-control" %>
		<br>
		<%= f.submit class: "btn btn-primary" %>
		<br>
	<% end %>
</div>