<%= simple_form_for @project, html: {class: "form-horizontal"} do |f| %>
	<div class="container">
		<%= f.input :title %>
		<br>
		
		<%= f.input :due_date %>
		<br>

		<%= f.input :description %>
		<br>

		<%= f.association :contributing_users, as: :check_boxes, label_method: :full_name %>

		<%= f.submit class: "btn btn-submit" %>
	</div>
<% end %>