<div class="container">
	<h3><%= @project.title %></h3> 
	<h5>Due Date: <%= @project.due_date %></h5>
	
	<h4>Description:</h4>
	<div class="col-md-4"></div>
	<div class="col-md-8"><%= @project.description %></div> 

	<br>

	<%= link_to "Edit", edit_project_path(@project), class: "btn btn-sm btn-info"%>
	<%= link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-sm btn-danger"%>
	

	<!-- add project tasks here -->
	<div class="row">
		<div class="col-md-6 completed-tasks">
			<h4>Completed Tasks</h4>
				<% @project.tasks.each do |task| %> 
 	   				<% if task.completed_status %> 		
	    				<%= link_to task.title, project_task_path(@project, task)%><br>
	    			<% end %>
				<% end %>
		</div>

		<div class="col-md-6 incomplete-tasks">
			<h4>Incomplete Tasks</h4>
	    		<% @project.tasks.each do |task| %> 
	    		 	<% if !task.completed_status %> 		
		    			<%= link_to task.title, project_task_path(@project, task)%><br>
					<% end %> 	
				<% end %>  
		</div>	 	  
	</div>

    <br><%= link_to "Add Task", new_project_task_path(@project), class: "btn btn-sm btn-info"%>
	
	<h4>Contributors</h4>
	<% @contributors.each do |contributor| %>
		<%= contributor.full_name %><br>
	<% end %>

	<hr>
	<h4>Create a Discussion</h4>
	<%= render partial: "/discussions/form" %>

	<h1>Current Discussions</h1>
	<% @project.discussions.each do |discussion| %>
	    <%= discussion.title %><br>
	    <%= discussion.description %>


		<%= link_to "Update", edit_project_discussion_path(@project, discussion), class: "btn btn-xs btn-info" %>
		<%= link_to "Delete", project_discussion_path(@project, discussion), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-xs btn-danger"%>
		<br><br>


		<%= simple_form_for [discussion, (@comment || Comment.new)], html: { class: "form-horizontal"} do |f| %>	
			<%= f.input :body %>
			<%= f.submit class: "btn btn-info btn-sm" %>
		<% end %>

		 <% discussion.comments.each do |comment| %>
	    <div class="well" >
	      <%= comment.body %>
		<br>
		<%= link_to "Update", edit_discussion_comment_path(discussion, comment), class: "btn btn-xs btn-info" %>
		<%= link_to "Delete", discussion_comment_path(discussion, comment), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-warning" %><br>
	    </div>
	  <% end %>
	  <hr>

	<% end %>

</div>