<!DOCTYPE html>
<html>
<head>
  <title>PmTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<nav class="navbar navbar-default"> 

<a href="/">Home</a>
|
<a href="/about">About</a>
|
<a href="/projects/new">Create New Project</a>
|
<a href="/projects">View all Projects</a>

<% if user_signed_in? %>
    &nbsp &nbsp &nbsp Hello <%= current_user.first_name %>,
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path %>
  <% end %>

  <br><br><p><%= flash[:notice] || flash[:alert] %></p>
  </nav>

<%= yield %>

</body>
</html>
